
    @section Styles
    {
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Bootstrap Basic</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                        <li class="breadcrumb-item active">Bootstrap Basic</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Education Provider</h4>
                    <p class="card-title-desc">
                        For basic styling—light padding and
                        only horizontal dividers—add the base class <code>.table</code> to any
                        <code>&lt;table&gt;</code>.
                    </p>
                    <div class="hstack gap-3">
                                                            <input id="txtEducationProvider" class="form-control me-auto" type="text" placeholder="Add your item here..." aria-label="Add your item here...">
                                                            <button id="btnEducationProvider" type="button" class="btn btn-primary waves-effect waves-light w-md">Submit</button>
                                                            
                                                            
                                                        </div>

                    <div class="table-responsive">
                        <table id="dtEducationProvider" class="table mb-0">

                        <thead class="table-light">
                                <tr>
                                    <th>Name<th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Field of Study</h4>
                <p class="card-title-desc">
                    For basic styling—light padding and
                    only horizontal dividers—add the base class <code>.table</code> to any
                    <code>&lt;table&gt;</code>.
                </p>
                <div class="hstack gap-3">
                    <input id="txtFieldOfStudy" class="form-control me-auto" type="text" placeholder="Add your item here..." aria-label="Add your item here...">
                    <button id="btnFieldOfStudy" type="button" class="btn btn-primary waves-effect waves-light w-md">Submit</button>


                </div>

                <div class="table-responsive">
                    <table id="dtFieldOfStudy" class="table mb-0">

                        <thead class="table-light">
                            <tr>
                                <th>Name
                                <th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
        
    </div>
    <!-- end row -->

    <div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Degree</h4>
                <p class="card-title-desc">
                    For basic styling—light padding and
                    only horizontal dividers—add the base class <code>.table</code> to any
                    <code>&lt;table&gt;</code>.
                </p>
                <div class="hstack gap-3">
                    <input id="txtDegree" class="form-control me-auto" type="text" placeholder="Add your item here..." aria-label="Add your item here...">
                    <button id="btnDegree" type="button" class="btn btn-primary waves-effect waves-light w-md">Submit</button>


                </div>

                <div class="table-responsive">
                    <table id="dtDegree" class="table mb-0">

                        <thead class="table-light">
                            <tr>
                                <th>Name
                                <th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
       
    </div>
    <!-- end row -->



    @section Scripts{

    <!-- Required datatable js -->

    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script src="~/js/EducationProvider.js"></script>
    <script src="~/js/FieldOfStudy.js"></script>
    <script src="~/js/Degree.js"></script>

}











