

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Profile</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Contacts</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row mb-4">
        <div class="col-xl-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="text-center">
                        <div class="dropdown float-end">
                            <a class="text-body dropdown-toggle font-size-18" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                <i class="uil uil-ellipsis-v"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Remove</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <img src="~/assets/images/users/avatar-4.jpg" alt="" class="avatar-lg rounded-circle img-thumbnail">
                        </div>
                        <div class="text-muted">
                            <h5 class="font-size-16">About</h5>
                            <p>Hi I'm Marcus,has been the industry's standard dummy text To an English person, it will seem like simplified English, as a skeptical Cambridge.</p>
                            <div class="table-responsive mt-4">
                                <div>
                                    <form method="post" id="formEmployee">
                                        <input class="form-control" type="hidden" id="txtId">
                                        <div class="mb-3 row">
                                            <label for="txtFirstName" class="col-md-4 col-form-label">FirstName</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" id="txtFirstName">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="txtLastName" class="col-md-4 col-form-label">LastName</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" id="txtLastName">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="txtPhone" class="col-md-4 col-form-label">Phone</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" id="txtPhone">
                                            </div>
                                        </div> <div class="mb-3 row">
                                            <label for="txtEmail" class="col-md-4 col-form-label">Email</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="email" id="txtEmail">
                                            </div>
                                        </div>




                                        <div class="d-flex flex-wrap gap-3 mt-3">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light w-md">Save</button>

                                        </div>

                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>

                    <hr class="my-4">

                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card mb-0">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#about" role="tab" aria-selected="true">
                            <i class="uil uil-user-circle font-size-20"></i>
                            <span class="d-none d-sm-block">About</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#tasks" role="tab" aria-selected="false" tabindex="-1">
                            <i class="uil uil-clipboard-notes font-size-20"></i>
                            <span class="d-none d-sm-block">Tasks</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#messages" role="tab" aria-selected="false" tabindex="-1">
                            <i class="uil uil-envelope-alt font-size-20"></i>
                            <span class="d-none d-sm-block">Messages</span>
                        </a>
                    </li>
                </ul>
                <!-- Tab content -->
                <div class="tab-content p-4">
                    <div class="tab-pane active show" id="about" role="tabpanel">
                        <div>
                            <div class="p-4 border-top">
                                <form method="post" id="formEmployeeDetail">
                                    <input class="form-control" type="hidden" id="txtIdED">
                                    <input class="form-control" type="hidden" id="txtIdE">

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3 mb-4">
                                                    <label class="form-label" for="txtDateOfBirth">DateOfBirth</label>
                                                    <input type="date" class="form-control" id="txtDateOfBirth">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">Gender</label>
                                                    <select class="form-control form-select" title="Gender" id="ddlGender">
                                                        <option value="0">Select Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">City</label>
                                                    <select class="form-control form-select" title="City" id="ddlCity">
                                                        <option value="0">Select City</option>
                                                        <option value="İstanbul">İstanbul</option>
                                                        <option value="Ankra">Ankra</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label" for="txtAddress">Address</label>
                                            <textarea class="form-control" id="txtAddress" rows="2" placeholder="Enter full address"></textarea>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">DriverLicense</label>
                                                    <select class="form-control form-select" title="DriverLicense" id="ddlDriverLicense">
                                                        <option value="0">Select Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">MilitaryObligations</label>
                                                    <select class="form-control form-select" title="MilitaryObligations" id="ddlMilitaryObligations">
                                                        <option value="0">Select MilitaryObligations</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">MaritalStatus</label>
                                                    <select class="form-control form-select" title="MaritalStatus" id="ddlMaritalStatus">
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="d-flex flex-wrap gap-3 mt-3">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light w-md">Save</button>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="tasks" role="tabpanel">
                        <div>
                            <h5 class="font-size-16 mb-3">Active</h5>

                            <div class="table-responsive">
                                <table class="table table-nowrap table-centered">
                                    <tbody>
                                        <tr>
                                            <td style="width: 60px;">
                                                <div class="form-check font-size-16 text-center">
                                                    <input type="checkbox" class="form-check-input" id="tasks-activeCheck2">
                                                    <label class="form-check-label" for="tasks-activeCheck2"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="fw-bold text-dark">Ecommerce Product Detail</a>
                                            </td>

                                            <td>27 May, 2020</td>
                                            <td style="width: 160px;"><span class="badge bg-soft-primary font-size-12">Active</span></td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check font-size-16 text-center">
                                                    <input type="checkbox" class="form-check-input" id="tasks-activeCheck1">
                                                    <label class="form-check-label" for="tasks-activeCheck1"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="fw-bold text-dark">Ecommerce Product</a>
                                            </td>

                                            <td>26 May, 2020</td>
                                            <td><span class="badge bg-soft-primary font-size-12">Active</span></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h5 class="font-size-16 my-3">Upcoming</h5>

                            <div class="table-responsive">
                                <table class="table table-nowrap table-centered">
                                    <tbody>
                                        <tr>
                                            <td style="width: 60px;">
                                                <div class="form-check font-size-16 text-center">
                                                    <input type="checkbox" class="form-check-input" id="tasks-upcomingCheck3">
                                                    <label class="form-check-label" for="tasks-upcomingCheck3"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="fw-bold text-dark">Chat app Page</a>
                                            </td>

                                            <td>-</td>
                                            <td style="width: 160px;"><span class="badge bg-soft-secondary font-size-12">Waiting</span></td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check font-size-16 text-center">
                                                    <input type="checkbox" class="form-check-input" id="tasks-upcomingCheck2">
                                                    <label class="form-check-label" for="tasks-upcomingCheck2"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="fw-bold text-dark">Email Pages</a>
                                            </td>

                                            <td>04 June, 2020</td>
                                            <td><span class="badge bg-soft-primary font-size-12">Approved</span></td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check font-size-16 text-center">
                                                    <input type="checkbox" class="form-check-input" id="tasks-upcomingCheck1">
                                                    <label class="form-check-label" for="tasks-upcomingCheck1"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="fw-bold text-dark">Contacts Profile Page</a>
                                            </td>

                                            <td>-</td>
                                            <td><span class="badge bg-soft-secondary font-size-12">Waiting</span></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h5 class="font-size-16 my-3">Complete</h5>

                            <div class="table-responsive">
                                <table class="table table-nowrap table-centered">
                                    <tbody>
                                        <tr>
                                            <td style="width: 60px;">
                                                <div class="form-check font-size-16 text-center">
                                                    <input type="checkbox" class="form-check-input" id="tasks-completeCheck3">
                                                    <label class="form-check-label" for="tasks-completeCheck3"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="fw-bold text-dark">UI Elements</a>
                                            </td>

                                            <td>27 May, 2020</td>
                                            <td style="width: 160px;"><span class="badge bg-soft-success font-size-12">Complete</span></td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check font-size-16 text-center">
                                                    <input type="checkbox" class="form-check-input" id="tasks-completeCheck2">
                                                    <label class="form-check-label" for="tasks-completeCheck2"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="fw-bold text-dark">Authentication Pages</a>
                                            </td>

                                            <td>27 May, 2020</td>
                                            <td><span class="badge bg-soft-success font-size-12">Complete</span></td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check font-size-16 text-center">
                                                    <input type="checkbox" class="form-check-input" id="tasks-completeCheck1">
                                                    <label class="form-check-label" for="tasks-completeCheck1"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="fw-bold text-dark">Admin Layout</a>
                                            </td>

                                            <td>26 May, 2020</td>
                                            <td><span class="badge bg-soft-success font-size-12">Complete</span></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="messages" role="tabpanel">
                        <div>
                            <div data-simplebar="init" style="max-height: 430px;">
                                <div class="simplebar-wrapper" style="margin: 0px;">
                                    <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                        <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                                            <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden;">
                                                <div class="simplebar-content" style="padding: 0px;">
                                                    <div class="d-flex align-items-start border-bottom py-4">
                                                        <div class="flex-shrink-0 me-2">
                                                            <img class="rounded-circle avatar-xs" src="assets/images/users/avatar-3.jpg" alt="avatar-3 images">
                                                        </div>

                                                        <div class="flex-grow-1">
                                                            <h5 class="font-size-15 mb-1">Marion Walker <small class="text-muted float-end">1 hr ago</small></h5>
                                                            <p class="text-muted">If several languages coalesce, the grammar of the resulting .</p>

                                                            <a href="javascript: void(0);" class="text-muted font-13 d-inline-block"><i class="mdi mdi-reply"></i> Reply</a>

                                                            <div class="d-flex align-items-start mt-4">
                                                                <div class="flex-shrink-0 me-2">
                                                                    <img class="rounded-circle avatar-xs" src="assets/images/users/avatar-4.jpg" alt="avatar-4 images">
                                                                </div>

                                                                <div class="flex-grow-1">
                                                                    <h5 class="font-size-15 mb-1">Shanon Marvin <small class="text-muted float-end">1 hr ago</small></h5>
                                                                    <p class="text-muted">It will be as simple as in fact, it will be Occidental. To it will seem like simplified .</p>


                                                                    <a href="javascript: void(0);" class="text-muted font-13 d-inline-block">
                                                                        <i class="mdi mdi-reply"></i> Reply
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-start border-bottom py-4">
                                                        <div class="flex-shrink-0 me-2">
                                                            <img class="rounded-circle avatar-xs" src="assets/images/users/avatar-5.jpg" alt="avatar-5 images">
                                                        </div>

                                                        <div class="flex-grow-1">
                                                            <h5 class="font-size-15 mb-1">Janice Morgan <small class="text-muted float-end">2 hrs ago</small></h5>
                                                            <p class="text-muted">To achieve this, it would be necessary to have uniform pronunciation.</p>

                                                            <a href="javascript: void(0);" class="text-muted font-13 d-inline-block"><i class="mdi mdi-reply"></i> Reply</a>

                                                        </div>
                                                    </div>

                                                    <div class="d-flex align-items-start border-bottom py-4">
                                                        <div class="flex-shrink-0 me-2">
                                                            <img class="rounded-circle avatar-xs" src="assets/images/users/avatar-7.jpg" alt="avatar-7 images">
                                                        </div>

                                                        <div class="flex-grow-1">
                                                            <h5 class="font-size-15 mb-1">Patrick Petty <small class="text-muted float-end">3 hrs ago</small></h5>
                                                            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit </p>

                                                            <a href="javascript: void(0);" class="text-muted font-13 d-inline-block"><i class="mdi mdi-reply"></i> Reply</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div>
                                </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none; height: 372px;"></div></div>
                            </div>

                            <div class="border rounded mt-4">
                                <form action="#">
                                    <div class="px-2 py-1 bg-light">

                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-sm btn-link text-dark text-decoration-none"><i class="uil uil-link"></i></button>
                                            <button type="button" class="btn btn-sm btn-link text-dark text-decoration-none"><i class="uil uil-smile"></i></button>
                                            <button type="button" class="btn btn-sm btn-link text-dark text-decoration-none"><i class="uil uil-at"></i></button>
                                        </div>

                                    </div>
                                    <textarea rows="3" class="form-control border-0 resize-none" placeholder="Your Message..."></textarea>

                                </form>
                            </div> <!-- end .border-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
@section Scripts{

    <script>
        function showEmployee() {
            $.ajax({
                url: "@Url.Action("GetEmployeeById","Employee",new {employeeId= Context.Request.Query["employeeId"]})",
                type: "GET",
                success: function (res) {
                    console.log(res);
                    $("#txtId").val(res.id);
                    $("#txtFirstName").val(res.firstName);
                    $("#txtLastName").val(res.lastName);
                    $("#txtPhone").val(res.phone);
                    $("#txtEmail").val(res.email);

                }

            });
        }
        showEmployee();



        $("#formEmployee").submit(function (event) {
            // submit işlemini durdur
            event.preventDefault();

            // form verilerini al
            var formData = {
                id: $("#txtId").val(),
                firstName: $("#txtFirstName").val(),
                lastName: $("#txtLastName").val(),
                phone: $("#txtPhone").val(),
                email: $("#txtEmail").val()
            }
            console.log(formData);

            // AJAX isteği yap
            $.ajax({
                url: "@Url.Action("Edit", "Employee")",
                type: "POST",
                data: formData,
                success: function (res) {
                    console.log(res);
                    // AJAX isteği başarılıysa, sayfayı yeniden yüklemeden form alanlarını doldur
                    //$("#txtFirstName").val(res.firstName);
                    //$("#txtLastName").val(res.lastName);
                    //$("#txtPhone").val(res.phone);
                    //$("#txtEmail").val(res.email);
                    toastr.success('Başarıyla Güncellendi.', 'BASARILI!');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error('Basarısız sekilde sonuclandı', 'HATA!');
                    console.log("AJAX error: " + textStatus + " - " + errorThrown);
                }
            });
        });




        // -----EMPLOYEE DETAIL----


        function showEmployeeDetail() {
            $.ajax({
                url: "@Url.Action("GetEmployeeDetailById","EmployeeDetail",new {employeeId= Context.Request.Query["employeeId"]})",
                type: "GET",
                success: function (res) {
                    console.log(res);
                    $("#txtIdED").val(res.id);
                    $("#txtIdE").val(res.employeeId);
                    $("#txtAddress").val(res.address);
                    $("#ddlCity").val(res.city);
                    $("#ddlDriverLicense").val(res.driverLicense);
                    $("#ddlMilitaryObligations").val(res.militaryObligations);
                    $("#ddlGender").val(res.gender);

                    var dateOfBirth = new Date(res.dateOfBirth);
                    var formattedDate = dateOfBirth.getFullYear() + "-"
                        + ('0' + (dateOfBirth.getMonth() + 1)).slice(-2) + "-"
                        + ('0' + dateOfBirth.getDate()).slice(-2);
                    $("#txtDateOfBirth").val(formattedDate);

   

                    if (res.maritalStatus == null) {
                        $("#ddlMaritalStatus").append(`<option selected disabled>Lütfen Seçiniz</option><option  value="1">Evli</option><option  value="0">Bekar</option>`);
                    } else if (res.maritalStatus) {
                        $("#ddlMaritalStatus").append(`<option value="1" selected>Evli</option><option  value="0">Bekar</option>`);
                    } else if (!res.maritalStatus) {
                        $("#ddlMaritalStatus").append(`<option value="0" selected>Bekar</option><option  value="1">Evli</option>`);
                    } else {
                        $("#ddlMaritalStatus").append(`<option selected disabled>Lütfen Seçiniz</option><option  value="1">Evli</option><option  value="0">Bekar</option>`);
                    }





                }

            });
        }
        showEmployeeDetail();



        $("#formEmployeeDetail").submit(function (event) {
            // submit işlemini durdur
            event.preventDefault();

            // form verilerini al
            var formDataED = {
                id: $("#txtIdED").val(),
                employeeId: $("#txtIdE").val(),
                address: $("#txtAddress").val(),
                city: $("#ddlCity").val(),
                dateOfBirth: $("#txtDateOfBirth").val(),
                driverLicense: $("#ddlDriverLicense").val(),
                militaryObligations: $("#ddlMilitaryObligations").val(),
                gender: $("#ddlGender").val(),
                maritalStatus: $("#ddlMaritalStatus").val() == "1"
            }
            console.log(formDataED);

            // AJAX isteği yap
            $.ajax({
                url: "@Url.Action("Edit", "EmployeeDetail")",
                type: "POST",
                data: formDataED,
                success: function (res) {
                    console.log(res);

                    toastr.success('Başarıyla Güncellendi.', 'BASARILI!');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error('Basarısız sekilde sonuclandı', 'HATA!');
                    console.log("AJAX error: " + textStatus + " - " + errorThrown);
                }
            });
        });


    </script>
}